<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641318942003-vt4lkfugda7jpiev2dbljkhk1q8eafbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641318942003-vt4lkfugda7jpiev2dbljkhk1q8eafbq</string>
	<key>API_KEY</key>
	<string>AIzaSyBl9lLGXsUPlu-Fy_WkZtWM25gc4PhbGMg</string>
	<key>GCM_SENDER_ID</key>
	<string>641318942003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGithub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-github-c519c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-github-c519c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641318942003:ios:282d7fc9dc36ca15c9fa46</string>
</dict>
</plist>